<html>
<body>
<form>
    <input>
</form>
<form method="post" action="\resposta">
Digite o número de massa atomica e o número da massa molar: 
<br>
<input  name="n1" type="number" id="massa atomica">
<input  name="n2" type="number" id="massa molar">
<input  id="res" type="submit" name="res" value="dividir">
</body>
<p id="resultado"> 
</p>
<script>

</script>>
</html>